
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');


.sk{
  color: aqua;
  text-align: center;
  margin-top: 40px;
}
.skills ul{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    list-style-type:none ;
    
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
   
}
.skills{
  border: 2px solid aqua;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  margin: 30px;
  padding: 4px;
  justify-content: center;
}


